extends layout
block content
    h2 OAuth Server - Client registration
    div
        form.pure-form.pure-form-stacked(action='/client/registration', method='post')
                label(for='name') Client name
                input(id='name', type='text', value='', name='name', placeholder='Name')
                input.pure-button.pure-button-primary(type='submit', value='Register')