extends layout

block content
    style(type='text/css').
        .allow {
            margin-right: 20px;
        }
        .deny {
            background: rgb(202, 60, 60);
            color: white;
        }
    h2 OAuth Server - Client verification
    div
        p Hi #{user.name}
            p
                b #{client.name}
                |  is requesting access to your account.
            p Do you approve?
            form.pure-form(action='/decision', method='post')
                p
                    input(name='transaction_id', type='hidden', value=transactionID)
                p
                    button.allow.pure-button.pure-button-primary(type='submit', value='Allow', id='allow') Allow
                    button.deny.pure-button(type='submit', name='cancel', value='Deny', id='deny') Deny