doctype html
html
    head
        link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/base-min.css')
        link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/buttons-min.css')
        link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/forms-min.css')
        style(type='text/css').
            body {
                margin: 0;
                padding: 0;
            }
            .page {
                padding-top: 40px;
                width: 420px;
                margin: 0 auto;
            }
            .page input {
                width: 100%;
            }
body
    div.page
        block content