extends layout
block content
    div
        h2 OAuth Server - User login
        div
            #{message}
        form.pure-form.pure-form-stacked(action='/authorization', method='post')
            fieldset
                input(id='username', type='text', value='', name='username' placeholder='Login')
                input(id='password', type='password', value='', name='password' placeholder='Password')
                input.pure-button.pure-button-primary(type='submit', value='Login')