extends layout
block content
    h2 OAuth Server - Client login
    div
        form.pure-form.pure-form-stacked(action='/oauth/authorization', method='post')
            fieldset
                input(id='username', type='text', value='', name='username' placeholder='Login')
                input(id='password', type='password', value='', name='password' placeholder='Password')
                input.pure-button.pure-button-primary(type='submit', value='Login')

                input(id='client_id', type='hidden', value=client_id, name='client_id')
                input(id='redirect_uri', type='hidden', value=redirect_uri, name='redirect_uri')
                input(id='response_type', type='hidden', value=response_type, name='response_type')